<div class="fixed contain-to-grid">
	<nav class="top-bar">
		<ul class="title-area">
	    	<li class="name"><h1><%= link_to 'Ecology Lab Collections', root_path %></h1></li>
			<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
	  	</ul>
	  	<section class="top-bar-section">
	  		<ul>
		  		<li class="divider"></li>
		    	<li><%= link_to 'Herbs', herbs_path %></li>
				<li><%= link_to 'Resources', '/resources' %></li>
				<% if controller.valid_user %>
					<li><%= link_to 'Logout ' + session[:cas_user], root_path + 'logout' %></li>
				<% else %>
					<li><%= link_to 'Login', RubyCAS::Filter.login_url(controller) %></li>
				<% end %>
			</ul>
		<section class="top-bar-section">
			<ul class="right">
				
				<li>
					<a class="icon" href="http://www.facebook.com/UWaterlooEcologyLab">
						<i class="icon-facebook-sign"></i>
					</a>
				</li>
				<li>
					<a class="icon" href="http://twitter.com/UWEcologyLab">
						<i class="icon-twitter"></i>
					</a>
				</li>
				<li>
					<a class="icon" href="mailto:env.ecology.uwaterloo.ca">
						<i class="icon-envelope"></i>
					</a>
				</li>
				<li>
					<a class="icon" href="http://uwaterloo.ca/ecology-lab">
						<i class="icon-globe"></i>
					</a>
				</li>

			</ul>
		</section>
	</nav>
</div>