<div class="fixed contain-to-grid">
	<nav class="top-bar">
		<ul class="title-area">
	    	<li class="name"><h1><%= link_to 'Faculty of Environment Ecology Lab Collections', root_path %></h1></li>
			<li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
	  	</ul>
		<section class="top-bar-section">
			<ul class="right">
				<li><%= link_to 'Herbs', herbs_path %></li>
				<li><%= link_to 'New', new_herb_path %></li>
				<li><%= link_to 'Resources', '/resources' %></li>
				<li><%= link_to 'FB', 'https://www.facebook.com/UWaterlooEcologyLab' %></li>
				<li><%= link_to 'T', 'https://twitter.com/UWEcologyLab' %></li>
				<li><%= link_to 'Email', 'mailto:env.ecology.uwaterloo.ca' %></li>
				<li><%= link_to 'WWW', 'http://uwaterloo.ca/ecology-lab' %></li>
				<% if controller.valid_user %>
					<li><%= link_to 'Logout ' + session[:cas_user], root_path + 'logout' %></li>
				<% else %>
					<li><%= link_to 'Login', RubyCAS::Filter.login_url(controller) %></li>
				<% end %>
			</ul>
		</section>
	</nav>
</div>