<h1>Resources</h1>

<ul>
	<li><%= link_to 'National Herbarium', 'http://nature.ca/en/research-collections/our-collections/botany-collection' %></li>
	<li><%= link_to 'Flora North America', 'http://floranorthamerica.org' %></li>
	<li><%= link_to 'The Plant List', 'http://theplantlist.org' %></li>
	<li><%= link_to 'USDA Plants Database', 'http://plants.usda.gov/java' %></li>
	<li><%= link_to 'Collecting Herbarium Specimens', 'http://www.queensu.ca/biology/facilities/herbarium/collecting.html' %></li>
</ul>