<%= render 'shared/header' %>

<% if @herbs.size %>

	<% if params[:search] && params[:search] != "" %>
		<div class="panel">
			<p>Your search for <strong><%= params[:search] %></strong> returned <%= @herbs_results.size %> results.</p>
		</div>
	<% end %>

	<table>
	  <tr>
		<th></th>
	    <th><%= sortable "name", "Common Name" %></th>
	    <th><%= sortable "family" %></th>
	    <th><%= sortable "genus" %></th>
	    <th><%= sortable "species" %></th>
		<% if controller.valid_user %>
			<th class="actions"></th>
		<% end %>
	  </tr>

	<% @herbs.each do |herb| %>
	
	  <tr>
	  	<td class="thumb">

	  		<%= link_to herb_image_tag(herb,:thumb), herb %>
		</td>
		<td><%= link_to simple_format(herb.name.gsub(/;/,'<br />')), herb %></td>
	    <td><%= herb.family %></td>
	    <td><%= herb.genus %></td>
	    <td><%= herb.species %></td>
		<% if controller.valid_user %>
			<td><%= link_to "edit", edit_herb_path(herb) %></td>
		<% end %>
	  </tr>
	<% end %>
	</table>

	<div class="pagination-centered">
		<%= will_paginate @herbs %>
	</div>

<% else %>

	<div class="panel">
		<p>Sorry, no results found.</p>
	</div>

<% end %>