<%= render 'shared/header' %>

<table>
  <tr>
	<th></th>
    <th><%= sortable "name" %></th>
    <th><%= sortable "family" %></th>
    <th><%= sortable "genus" %></th>
    <th><%= sortable "species" %></th>
  </tr>

<% @herbs.each do |herb| %>
  <tr>
  	 <td class="thumb">
  	 	<% if !herb.photo_file_name.nil? %>
			<%= image_tag herb.photo.url(:thumb) %>
		<% else %>
			<small>no image</small>
		<% end %>
	</td>
	<td><%= link_to herb.name, herb %></td>
    <td><%= herb.family %></td>
    <td><%= herb.genus %></td>
    <td><%= herb.species %></td>
  </tr>
<% end %>
</table>

<div class="pagination-centered">
	<%= will_paginate @herbs %>
</div>
