<div class="row">
	<div class="large-8 small-8 columns">
		<h1>Herbs</h1>
	</div>
	<div class="view-options large-4 small-4 columns">
		<dl class="sub-nav right">
		  <dt>View:</dt>
		  <dd class="active"><a href="#">Table</a></dd>
		  <dd><a href="#">Thumbnails</a></dd>
		</dl>
	</div>
</div>

<table>
  <tr>
	<th></th>
    <th><%= sortable "name" %></th>
    <th><%= sortable "family" %></th>
    <th><%= sortable "genus" %></th>
    <th><%= sortable "species" %></th>
  </tr>

<% @herbs.each do |herb| %>
  <tr>
  	 <td>
  	 	<% if !herb.photo_file_name.nil? %>
			<%= image_tag(herb.photo.url, :class => "thumb") %>
		<% else %>
			<img class="thumb" src="/images/leaf.jpg" alt="leaf" />
		<% end %>
	</td>
	<td><%= link_to herb.name, herb %></td>
    <td><%= herb.family %></td>
    <td><%= herb.genus %></td>
    <td><%= herb.species %></td>
  </tr>
<% end %>
</table>