<p id="notice"><%= notice %></p>

<div class="row">
	<div class="large-4 small-4 columns">
		<div class="right">
			<% if !@herb.photo_file_name.nil? %>
				<%= image_tag @herb.photo.url(:medium)%>
			<% else %>
				<img src="/images/leaf.jpg" alt="leaf" />
			<% end %>
			
			<ul class="side-nav">
				<li class="inactive"><%= link_to 'More photos', '#' %></li>
				<li class="divider"></li>
				<li><%= link_to 'Edit', edit_herb_path(@herb) %></li>
				<li><%= link_to 'Back', herbs_path %></li>
			</ul>
		</div>
	</div>
	<div class="large-8 small-8 columns">
		<h2><%= @herb.name %></h2>
		<table class="row-headings">
			<tr>
				<th>Family</th>
				<td><%= @herb.family %>
			</tr>
			<tr>
				<th>Genus</th>
				<td><%= @herb.genus %>
			</tr>
			<tr>
				<th>Species</th>
				<td><%= @herb.species %>
			</tr>
			<tr>
				<th>Author</th>
				<td><%= @herb.author %>
			</tr>
			<tr>
				<th>Comments</th>
				<td><%= @herb.comments %>
			</tr>
		</table>
	</div>
</div>