<p id="notice"><%= notice %></p>

<p>
  <b>Family:</b>
  <%= @herb.family %>
</p>

<p>
  <b>Genus:</b>
  <%= @herb.genus %>
</p>

<p>
  <b>Species:</b>
  <%= @herb.species %>
</p>

<p>
  <b>Author:</b>
  <%= @herb.author %>
</p>

<p>
  <b>Name:</b>
  <%= @herb.name %>
</p>

<p>
  <b>Comments:</b>
  <%= @herb.comments %>
</p>

<p>
	<b>Image:</b>
	<br />
	<% if !@herb.photo_file_name.nil? %>
		<%= image_tag @herb.photo.url, :size => "150x150" %>
	<% else %>
		No image provided for this herb
	<% end %>
</p>

<%= link_to 'Edit', edit_herb_path(@herb) %> |
<%= link_to 'Back', herbs_path %>
