<ul class="breadcrumbs">
	<li><%=link_to "Herbs", herbs_path %></li>
	<li><a href="#"><%= @herb.family %></a></li>
	<li><a href="#"><%= @herb.genus %></a></li>
	<li><a href="#"><%= @herb.species %></a></li>
	<li class="current"><a href="#"><%= @herb.name %></a></li>
</ul>

<div class="row">
	<div class="large-6 small-12 columns">
		<div class="preview align-right">
			<%= herb_image_tag(@herb,:medium) %>
		</div>
		<div class="panel">
			<h4 class="subheader">
				More images
			</h4>
			<ul class="blocks small-block-grid-3">
				<li>
					<div class="thumb" style="background-image:url('/images/leaf.jpg')"></div>
				</li>
				<li>
					<div class="thumb" style="background-image:url('/images/leaf.jpg')"></div>
				</li>
				<li>
					<div class="thumb" style="background-image:url('/images/leaf.jpg')"></div>
				</li>
				<li>
					<div class="thumb" style="background-image:url('/images/leaf.jpg')"></div>
				</li>
				<li>
					<div class="thumb" style="background-image:url('/images/leaf.jpg')"></div>
				</li>
				<li>
					<div class="thumb" style="background-image:url('/images/leaf.jpg')"></div>
				</li>
			</ul>
		</div>
		<div class="panel">
			<h4 class="subheader">More</h4>
			<p>This herb has been viewed <strong><%= @herb.view_count %></strong> times.</p>
			<hr />
			<ul class="side-nav">
				<li><%= link_to 'Edit', edit_herb_path(@herb) %></li>
				<li><%= link_to 'Delete', '#', :class => 'danger' %></li>
				<li><%= link_to 'Back', herbs_path %></li>
			</ul>
		</div>
	</div>
	<div class="large-6 small-12 columns">
		<h2><%= @herb.name %></h2>
		<table class="row-headings">
			<tr>
				<th>Family</th>
				<td><%= @herb.family %>
			</tr>
			<tr>
				<th>Genus</th>
				<td><%= @herb.genus %>
			</tr>
			<tr>
				<th>Species</th>
				<td><%= @herb.species %>
			</tr>
			<tr>
				<th>Author</th>
				<td><%= @herb.author %>
			</tr>
			<tr>
				<th>Comments</th>
				<td><%= @herb.comments %>
			</tr>
		</table>
	</div>
</div>