<ul class="breadcrumbs">
	<li><%=link_to "Herbs", herbs_path %></li>
	<li><%=link_to @herb.family, "#{herbs_path}?search=#{@herb.family}" %></li>
	<li><%=link_to @herb.genus, "#{herbs_path}?search=#{@herb.genus}" %></li>
	<li><%=link_to @herb.species, "#{herbs_path}?search=#{@herb.species}" %></li>
	<li class="current"><a href="#"><%= @herb.name %></a></li>
</ul>

<% Herb.record_view(@herb) %>

<div class="row">
	<div class="large-6 small-12 columns">
		<div class="preview align-right">
			<%= herb_image_tag(@herb,:medium) %>
		</div>
		
			
		</ul>
	</div>
	<div class="large-6 small-12 columns">
		<h2><%= @herb.name %></h2>
		<p>
			<%= link_to 'Google images', herb_image_search_url(@herb), target: '_blank', class: 'small button secondary' %>
			<%= link_to 'Wikipedia', herb_wikipedia_search_url(@herb), target: '_blank', class: 'small button secondary' %>
		</p>

		<table class="row-headings">
			<tr>
				<th>Family</th>
				<td><%= @herb.family %>
			</tr>
			<tr>
				<th>Genus</th>
				<td><%= @herb.genus %>
			</tr>
			<tr>
				<th>Species</th>
				<td><%= @herb.species %>
			</tr>
			<tr>
				<th>Author</th>
				<td><%= @herb.author %>
			</tr>
			<tr>
				<th>Folder</th>
				<td><%= @herb.folder %>
			</tr>
			<tr>
				<th>Comments</th>
				<td><%= @herb.comments %>
			</tr>
		</table>
		<% if controller.valid_user %>
			<%= link_to 'Edit', edit_herb_path(@herb), class: 'small button' %>
			<%= link_to 'Destroy', @herb, confirm: 'Are you sure?', method: :delete, class: 'small alert button' %>
		<% end %>
	</div>
</div>